body {
  font-size: 16px;
  scroll-snap-type: y mandatory; }
  @media screen and (max-width: 900px) {
    body {
      font-size: 3.4vw; } }
  body a {
    text-decoration: underline;
    color: white; }
  body img {
    width: 100%; }
  body li {
    list-style: none; }
  body span {
    display: block; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-shrink: 0; }

*::-webkit-scrollbar {
  display: none; }

body {
  width: 100%; }
  body .front {
    width: 100vw;
    height: 85vh;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    body .front .top {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      body .front .top .top-left {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: marydale, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: clamp(30px, 5vw, 60px); }
      body .front .top .top-right {
        width: 50%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; }
        body .front .top .top-right .top-circle-box {
          width: 30vw;
          height: 30vw;
          position: relative; }
          body .front .top .top-right .top-circle-box .top-right-circle {
            width: 30vw;
            height: 30vw;
            position: absolute;
            border-radius: 100%;
            overflow: hidden;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center; }
          body .front .top .top-right .top-circle-box .my-img {
            z-index: 2; }
          body .front .top .top-right .top-circle-box .color-circle {
            opacity: 0.8; }
          body .front .top .top-right .top-circle-box #circle1 {
            top: -3vw;
            right: -5vw; }
          body .front .top .top-right .top-circle-box #circle2 {
            top: -4vw;
            right: 5vw; }
          body .front .top .top-right .top-circle-box #circle3 {
            top: 3vw;
            right: 6vw; }
          body .front .top .top-right .top-circle-box #circle4 {
            top: 5vw;
            right: -3vw; }
  body .menu {
    width: 90vw;
    height: 15vh;
    position: absolute;
    bottom: 0;
    left: 5vw;
    border-top: solid 1px black;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    body .menu .nav-button {
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      body .menu .nav-button h2 {
        font-family: marydale, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: clamp(24px, 3vw, 50px); }
  body .background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center; }
    body .background .triangle-box {
      width: 100vw;
      height: 70%;
      margin-bottom: 15vh; }
      body .background .triangle-box .triangle-upper {
        width: 95%;
        height: 50%;
        margin-right: 5%;
        display: flex;
        justify-content: space-around;
        align-items: center; }
      body .background .triangle-box .triangle-lower {
        width: 95%;
        height: 50%;
        margin-left: 5%;
        display: flex;
        justify-content: space-around;
        align-items: center; }
      body .background .triangle-box .triangle {
        width: 5vw;
        height: 10vw;
        clip-path: polygon(0 0, 0 100%, 100% 50%);
        transform: translateY(0);
        opacity: 0.5; }
      body .background .triangle-box .triangle-animation {
        animation: triangle-pop 1s ease-in-out forwards; }
@keyframes triangle-pop {
  0% {
    transform: translateY(0);
    opacity: 0.5; }
  50% {
    transform: translateY(-20px);
    opacity: 1; }
  100% {
    transform: translateY(0);
    opacity: 0.5; } }
  body .load {
    width: 100vw;
    height: 100vh;
    padding-bottom: 15vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; }
    body .load h1 {
      font-family: marydale, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: clamp(60px, 10vw, 120px);
      animation: load-text-animatino 1s infinite; }
@keyframes load-text-animatino {
  0% {
    transform: scale(1); }
  10% {
    transform: scale(1.1); }
  20% {
    transform: scale(1); }
  25% {
    transform: scale(1); }
  35% {
    transform: scale(1.1); }
  45% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }

/*# sourceMappingURL=style.css.map */
