// フォント設定

    // 筑紫
    @mixin tukushi($fontSize) {
        font-family: fot-tsukuardgothic-std,sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: $fontSize;
    }
    
    // marydale
    @mixin marydale($fontSize) {
        font-family: marydale, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: $fontSize;
    }
    
    // ロンドB
    @mixin rondo($fontSize) {
        font-family: marydale, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: $fontSize;
    }

    // Belarius 
    @mixin Belarius($fontSize) {
        font-family: belarius-poster, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: $fontSize;
    }

    @mixin flex($justify,$align) {
        display: flex;
        justify-content: $justify;
        align-items: $align;
    }



// 基本設定

body {
    font-size: 16px;
    scroll-snap-type: y mandatory;
    
    @media screen and(max-width:900px) {
        font-size: 3.4vw;
    }

    a {
        text-decoration: underline;
        @include flex(left,center);
    }
    
    img {
        width: 100%;;
    }
    
    li {
        list-style: none;
    }
    
    span {
        display: block;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-shrink: 0;    
}

*::-webkit-scrollbar {
    display: none;
}


// 詳細設定

body {
    width: 100%;

    .front {
        width: 100vw;
        height: 85vh;
        position: relative;
        top: 0;
        left: 0;
        opacity: 0;
        overflow: hidden;
        overflow-x: auto;
        scroll-snap-type: x mandatory; 
        @include flex(left,center);

        @media screen and(max-width: 900px) {
            height: 100vh;
        }


        // index.html

        .top {
            width: 100%;
            height: 100%;
            padding: 0 10vw;
            position: relative;
            @include flex(space-around,center);

            @media screen and (max-width: 900px) {
                display: block;
            }

            .top-left {
                width: 35vw;
                height: 100%;
                @include flex(center,center);

                @media screen and(max-width: 900px) {
                    width: 80vw;
                    height: 40vh;
                }
                
                .top-text {
                    width: 100%;
                    overflow: hidden;

                    span {
                        transform: translateY(100%);
                        

                        h1 {
                            @include marydale(clamp(50px,10vw,100px));
                            font-weight: 200;;
                        }
                    }

                    .top-text-animation {
                        animation: top-text-animation 1s ease-in-out forwards;
                    }

                    @keyframes top-text-animation {
                        0% {
                            transform: translateY(100%);
                        }

                        100% {
                            transform: translateY(0%);
                        }
                    }
                    

                }
                
                .top-text > div {
                    overflow-y: hidden;
                    @include flex(center,center);
                }
            }

            .top-right {
                width: 30vw;
                height: 100%;
                position: relative;
                @include flex(center,center);
                @media screen and(max-width: 900px) {
                    width: 80vw;
                    height: 45vh;
                }

                .top-circle-box {
                    width: 30vw;
                    height: 30vw;
                    position: relative;

                    .top-right-circle {
                        width: 30vw;
                        height: 30vw;
                        position: absolute;
                        border-radius: 100%;
                        overflow: hidden;
                        z-index: 1;
                        @include flex(center,center);
                    }
    
                    .top-my-img {
                        z-index: 2;
                        transform: translateY(-10%);
                        opacity: 0;
                    }

                    .top-my-img-animation {
                        animation: top-my-img-animatino 0.5s ease-in-out forwards;
                    }

                    @keyframes top-my-img-animatino {
                        0% {
                            transform: translateY(-10%);
                            opacity: 0;
                        }

                        100% {
                            transform: translateY(0);
                            opacity: 1;
                        }
                    }
    
                    .color-circle {
                        opacity: 0.8;
                        transform: scale(1);
                        transform-origin: center;
                        animation: top-color-circle-animation-set 0.1s ease-out forwards;
                    }
                    
                    .top-circle-animation {
                        animation: top-color-circle-animation 1.5s ease-out reverse forwards;
                    }
    
                    #top-circle1 {
                        top: -10%;
                        right: -16%;
                    }

                    #top-circle2 {
                        top: -13%;
                        right: 16%;
                    }

                    #top-circle3 {
                        top: 10%;
                        right: 19%;
                    }

                    #top-circle4 {
                        top: 16%;
                        right: -10%;
                    }

                    @keyframes top-color-circle-animation-set {
                        100% {
                            transform: scale(0);
                            top: 0;
                            right: 0;
                            opacity: 0;
                        }
                    }

                    @keyframes top-color-circle-animation {
                        100% {
                            transform: scale(0);
                            top: 0;
                            right: 0;
                            opacity: 0;
                        }
                    }
                }
            }
        }

        .about {
            width: 100vw;
            height: 100%;
            padding: 0 10vw;
            position: relative;
            @include flex(space-around,center);

            .about-left {
                width: 35vw !important;
                
                .about-circle-box {
                    width: 20vw;
                    height: 20vw;
                    margin: 0 auto;
                    margin-bottom: 5vw;
                    position: relative;

                    .about-circle {
                        width: 20vw;
                        height: 20vw;;
                        position: absolute;
                        border-radius: 100%;
                        overflow: hidden;
                        z-index: 1;
                        @include flex(center,center);
                    }

                    .about-my-img {
                        z-index: 2;
                        // transform: translateY(-10%);
                        // opacity: 0;
                    }

                    .about-my-animation {
                        animation: about-my-img-animatino 0.5s ease-in-out forwards;
                    }

                    @keyframes about-my-img-animatino {
                        0% {
                            transform: translateY(-10%);
                            opacity: 0;
                        }

                        100% {
                            transform: translateY(0);
                            opacity: 1;
                        }
                    }

                    .color-circle {
                        opacity: 0.8;
                        transform: scale(1);
                        transform-origin: center;
                        // animation: about-color-circle-animation-set 0.1s ease-out forwards;
                    }

                    .top-circle-animation {
                        animation: about-color-circle-animation 1.5s ease-out reverse forwards;
                    }

                    #about-circle1 {
                        top: -10%;
                        right: -16%;
                    }

                    #about-circle2 {
                        top: -13%;
                        right: 16%;
                    }

                    #about-circle3 {
                        top: 10%;
                        right: 19%;
                    }

                    #about-circle4 {
                        top: 16%;
                        right: -10%;
                    }

                    @keyframes about-color-circle-animation-set {
                        100% {
                            transform: scale(0);
                            top: 0;
                            right: 0;
                            opacity: 0;
                        }
                    }

                    @keyframes about-color-circle-animation {
                        100% {
                            transform: scale(0);
                            top: 0;
                            right: 0;
                            opacity: 0;
                        }
                    }
                }

                .about-date {
                    width: 100%;
                    text-align: center;

                    .about-name {
                        @include marydale(clamp(24px,3.5vw,32px))
                    }
                    
                    .about-age {
                        @include marydale(clamp(18px,3vw,24px))
                    }
                }
            }

            .about-right {
                width: 50vw !important;

                .about-right-upper {
                    margin-bottom: 2vw;
                    @include Belarius(clamp(24px,3.5vw,50px));
                }

                .about-right-lower {
                    @include tukushi(clamp(12px,2vw,18px));
                }
            }
        }

        .work {
            width: 100%;
            height: 100%;
            position: relative;
            @include flex(space-around,center);

            @media screen and(max-width: 900px) {
                display: block;
            }

            .work-left {
                width: 35vw;
                height: 60%;
                @include flex (center,flex-start);

                @media screen and(max-width: 900px) {
                    display: block;
                    width: 70% !important;
                    height: auto !important;
                    margin: 0 auto;
                    margin-top: 5vh;
                    height: 10vh;
                }

                .wr-background-image {
                    width: 85vh;
                    height: 85vh;
                    position: absolute;
                    z-index: -10;
                    top: 0;
                    left: 0;
                    @include flex(center,center);
        
                    .background-image {
                        width: 120vh;
                        height: 120vh;
                        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                        background-size: cover;
                        background-position: center;
                    }
                }

                .work-tittle {
                    width: 25vw;
                    height: 25vw;
                    position: relative;
                    z-index: 2;

                    h2 {
                        position: relative;
                        color: white;
                        text-shadow: 2px 3px 6px black;
                        @include marydale(clamp(50px,12vw,140px));
                    }

                    .work-tittle-box-front {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        background: #EEDCBC;
                    }

                    .work-tittle-box-back {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        background: black;
                        top: 3%;
                        left: 3%;
                    }
                }
            }

            .work-right {
                width: 60vw;
                height: 90%;
                margin: 5% 0;

                .work-nav {
                    width: 100%;
                    height: 45%;
                    margin: 2.5% 0;
                    @include flex(space-around,center);

                    @media screen and(max-width: 900px) {
                        height: 30vh !important;
                        margin-top: 5vh;
                    }

                    .work-nav-content {
                        width: 60%;

                        .work-nav-tittle {
                            @include tukushi(clamp(24px,3.5vw,40px));
                            @include flex(left,center);

                            a {
                                text-decoration: none;
                                color: black;
                                
                                h3 {
                                    font-weight: 200;
                                    margin-right: 5%;
                                }
                            }

                        }

                        .work-nav-text {
                            width: 95%;
                            margin-left: 5%;
                            padding-left: 5%;
                            border-left: solid 1px black;
                            @include tukushi(clamp(10px,1.9vw,16px));
                        }
                    }

                    .wr-work-nav-img {
                        width: 30%;

                        .work-nav-img {
                            width: 80%;
                            padding-top: 80%;
                            background-size: cover;
                            background-position: center;
                        }
                    }
                }
            }
        }
        
        .contact {
            width: 100%;
            position: relative;
            text-align: center;
            @include flex(center,center);

            .contact-inner {
                width: 100%;

                .sorryText {
                    @include marydale(clamp(40px,18vw,100px));
                }
    
                .contact-stop-text {
                    margin-top: 5vh;
                    @include tukushi(clamp(20px,3vw,40px));
                }
            }
        }


        // proN.html

        .work-top {
            width: 100%;
            height: 100%;
            padding: 0 10%;
            position: relative;
            @include flex(right,center);

            .work-top-inner {
                width: 60%;
                padding-right: 5%;
            
                h2 {
                    @include marydale(clamp(45px,8.5vw,130px));
                    margin-bottom: 10vh;
                }

                p {
                    @include tukushi(clamp(12px,2vw,18px));
                }
            }
        }

        .work-content {
            width: 100vw;
            height: 100%;
            position: relative;
            @include flex(space-around,center);

            .right-top {
                position: absolute;
                top: 0;
                right: 0;
                padding: 10px;
                @include marydale(clamp(22px,3.5vw,60px));
            }

            .work-content-left {
                width: 50%;

                .work-content-tittle h3 {
                    @include tukushi(clamp(35px,4vw,60px));
                    font-weight: 200;
                }

                .work-content-text {
                    width: 100%;
                    max-height: 45vh;
                    overflow: scroll;
                    margin-top: 5vh;
                    margin-left: 3vw;
                    padding-left: 3vw;
                    border-left: solid 1px black;

                    p {
                        padding: 5px 0;
                        @include tukushi(clamp(12px,2vw,18px));
                        font-weight: 200;
                        text-shadow: 1px 1px 4px white;
                    }
                }
            }

            .work-content-right {
                width: 25%;

                .work-image-tate {
                    width: 22vw;
                    height: 30vw;
                    margin: 0 auto;
                    background-size: cover;
                    background-position: center;
                }
                
                .work-image-yoko {
                    width: 22vw;
                    height: 15vw;
                    margin: 0 auto;
                    background-size: cover;
                    background-position: center;
                }
background-image: url(../index.html);
                .work-image-seihou {
                    width: 15vw;
                    height: 15vw;
                    margin: 0 auto;
                    background-size: cover;
                    margin-bottom: 5px;
                }

                .work-file {
                    width: 100%;
                    @include tukushi(clamp(12px,2vw,18px));
                    margin-top: 3vw;

                    a {
                        color: black;

                        p {
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }

    .front > div {
        width: 100%;
        height: 100%;
        scroll-snap-align: start; 
        overflow: hidden;
    }

    .front > div > div {
        @media screen and(max-width: 900px) {
            width: 100% !important;
        }
    }

    .menu {
        width: 90vw;
        height: 15vh;
        position: absolute;
        bottom: 0;
        left: 5vw;
        background: white;
        border-top: solid 1px black;
        transform: translateY(100%);
        @include flex(space-around,center);

        @media screen and(max-width: 900px) {
            display: none;
        }

        .nav-button, .work-nav {
            width: 20%;
            height: 100%;
            @include flex(center,center);
            transform: translateY(10%);

            h2 {
                opacity: 0.5;
                color: black;
                @include marydale(clamp(24px,3vw,50px));
            }

            h2:hover {
                opacity: 1;
                transform: scale(1.2);
            }
        }

    }

    .menu-load-animation {
        animation: menu-load-animation 0.5s ease-in-out forwards;
    }

    @keyframes menu-load-animation {
        0% {
            transform: translateY(100%);
        }

        100% {
            transform: translateY(0);
        }
    }

    .background {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -11;
        @include flex(center,center);

        .triangle-box {
            width: 100vw;
            height: 70%;
            margin-bottom: 15vh;

            .triangle-upper {
                width: 95%;
                height: 50%;
                margin-right: 5%;
                @include flex(space-around,center);
            }

            .triangle-lower {
                width: 95%;
                height: 50%;
                margin-left: 5%;
                @include flex(space-around,center);
            }

            .triangle {
                width: 5vw;
                height: 10vw;
                clip-path: polygon(0 0, 0 100%, 100% 50%);
                transform: translateY(0);
                opacity: 0.5;
            }
            
            .triangle-animation {
                animation: triangle-pop 1s ease-in-out forwards;
            }

            @keyframes triangle-pop {
                0% {
                    transform: translateY(0);
                    opacity: 0.5;
                }

                50% {
                    transform: translateY(-20px);
                    opacity: 1;
                }

                100% {
                    transform: translateY(0);
                    opacity: 0.5;
                }
            }
        }


        // workの子要素のみ

        .wr-background-image {
            width: 85vh;
            height: 85vh;
            position: absolute;
            top: 0;
            left: 0;
            @include flex(center,center);

            .background-image {
                width: 120vh;
                height: 120vh;
                clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                background-size: cover;
                background-position: center;
            }
        }
    }

    .load {
        width: 100vw;
        height: 100vh;
        padding-bottom: 15vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background: rgba(0,0,0,0.5);
        backdrop-filter: blur(5px);
        @include flex(center,center);
        color: white;

        h1 {
            @include marydale(clamp(60px,10vw,120px));
            animation: load-text-animatino 1s infinite;
        }

        @keyframes load-text-animatino {
            0% {
                transform: scale(1);
            }
            10% {
                transform: scale(1.1);
            }
            20% {
                transform: scale(1);
            }

            25% {
                transform: scale(1);
            }
            35% {
                transform: scale(1.1);
            }
            45% {
                transform: scale(1);
            }

            100% {
                transform: scale(1);
            }
        }
    }
}

.load, .top, .about {
    display: none !important;
}